<app-form (createOrUpdateEvent)="onHandleCreateUpdate($event)" [input]=""></app-form>
<mat-form-field class="search-form-field">
  <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter(searchKey)">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="onSortChange($event)">

      <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef class="header" mat-sort-header> Full Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="address.city">
      <th mat-header-cell *matHeaderCellDef class="header" mat-sort-header> City </th>
      <td mat-cell *matCellDef="let element"> {{element.address.city}} </td>
    </ng-container> 

    <ng-container matColumnDef="address.street">
        <th mat-header-cell *matHeaderCellDef class="header" mat-sort-header> Street </th>
        <td mat-cell *matCellDef="let element"> {{element.address.street}} </td>
      </ng-container> 

    <ng-container matColumnDef="address.houseNumber">
      <th mat-header-cell *matHeaderCellDef class="header"> House Number </th>
      <td mat-cell *matCellDef="let element"> {{element.address.houseNumber}} </td>
    </ng-container> 
  
    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef class="header"> Date of Birth </th>
      <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date}} </td>
    </ng-container>  

    <ng-container matColumnDef="actions">
      <th mat-header-cell  *matHeaderCellDef class="header" > Actions </th>
      <td mat-cell *matCellDef="let element" >
        <button mat-raised-button color="accent" (click)="onUpdate(element)">Update</button>
        <button mat-raised-button color="warn" (click)="onDelete(element.id)">Delete</button>
      </td>
    </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25]"
                 (page)="onPageChange($event)"
                 [pageSize]="paging.PageSize"
                 [length]="paging.TotalCount"
  ></mat-paginator>
